
<div class="center jumbotron">
  <h1>クトゥルフ神話TRPG</h1>

  <h2>
    ゆっくりしていっちぇね！
  </h2>

  <%= link_to "ユーザーの作成なのぜ！!", "/users/new", class: "btn btn-lg btn-primary" %>
  <p>
    <% if  logged_in? %>
      <%= link_to "プロフィールにもどるよ！", "/users/show" %>
    <% end %>
  </p>
</div>

