// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status table td{
  text-align: center;
  width: 40px;
}

.status table th{
  text-align: center;
}

.status input{
  width: 40px;
}

.point input{
  width: 40px;
}

.skill input{
  width: 40px
}